<!DOCTYPE html>
<html>
    <head>
        <title>Bookmark Util Configuration</title>
        <script src="../res/js/jQuery.js"></script>
        <script src="../src/configure.js"></script>
    </head>
    <body>
        <h1>Add folders and keywords for each folder</h1>

        <table id="configTbl" class="alt">
            <thead>
              <tr>
                <th>No</th>
                <th>Folder</th>
                <th>Keywords</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <input id="saveConfig" type="submit" value="Save Configuration" >
        <input id="addRow" type="submit" value="Add new row" >
        
    </body>
</html>